Récupération de client notion.json
{
  "name": "Récupération de client notion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        -16
      ],
      "id": "cbd83e87-f219-4c41-b91d-f0fca3efc2a1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "fc911b22-e6f5-49bd-af66-fc23b48dbbbf",
          "mode": "list",
          "cachedResultName": "Master Data (Project) -",
          "cachedResultUrl": "https://www.notion.so/fc911b22e6f549bdaf66fc23b48dbbbf"
        },
        "simple": false
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -384,
        -16
      ],
      "id": "690652ac-64a4-480e-83d5-6b4b0557c676",
      "name": "Get a database page3",
      "credentials": {
        "notionApi": {
          "id": "KiYrwiSIQVffZvho",
          "name": "Notion account 3"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "clients = _items[0][\"json\"][\"properties\"][\"Client\"][\"select\"][\"options\"]\nslack_client_options = []\nfor client in clients:\n     slack_client_options.append({\n        \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": client[\"name\"]\n        },\n        \"value\": client[\"name\"]\n     })\n\nslack_client_options.append({\n        \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Autre\"\n        },\n        \"value\": \"autre\"\n     })\nreturn [\n  {\n    \"results_ption\" : slack_client_options\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -16
      ],
      "id": "aa6bc7c5-a1ef-4024-99e2-bd384ceba6f1",
      "name": "Récupération client3"
    },
    {
      "parameters": {
        "jsCode": "const clients = $input.first().json.results_ption;\n\nreturn clients.map(c => ({\n  json: {\n    label: c.text.text,\n    value: c.value\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -16
      ],
      "id": "cadc5b92-0cb1-4529-82d9-a6d97d732e77",
      "name": "Transforme la liste"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        -32
      ],
      "id": "3e245d3e-0ad6-4581-8b86-40255a764d7f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "jmzL8aP1CKulEIQW",
          "mode": "list",
          "cachedResultName": "Client",
          "cachedResultUrl": "/projects/arE7nkATuDeUBPuz/datatables/jmzL8aP1CKulEIQW"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "value_nom",
              "keyValue": "={{ $json.value }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        704,
        208
      ],
      "id": "f611bfad-c552-495f-b7af-a37e49c69336",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5a05373-0f07-4612-b7af-708591b5e9f3",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        208
      ],
      "id": "78edb600-9f33-4e97-8b05-c3bb275841b5",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "jmzL8aP1CKulEIQW",
          "mode": "list",
          "cachedResultName": "Client",
          "cachedResultUrl": "/projects/arE7nkATuDeUBPuz/datatables/jmzL8aP1CKulEIQW"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nom": "={{ $('Loop Over Items').item.json.label }}",
            "value_nom": "={{ $('Loop Over Items').item.json.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nom",
              "displayName": "nom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "value_nom",
              "displayName": "value_nom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1136,
        256
      ],
      "id": "4b39a0e4-807c-4a16-885b-51a3d0aabb39",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "Get a database page3": {
      "main": [
        [
          {
            "node": "Récupération client3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a database page3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupération client3": {
      "main": [
        [
          {
            "node": "Transforme la liste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transforme la liste": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ce185210-9ed0-48d0-8cb1-153dfa36c532",
  "meta": {
    "instanceId": "f46f5ebc6334fbb1b70f525a5e6a924e44508c49a0f8753a49481cca7ca569a3"
  },
  "id": "KLl58uLWek2ssPcF",
  "tags": []
}