Récupération_equipe.json
{
  "name": "Récupération_equipe",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        -64
      ],
      "id": "44ad09d1-8a81-42b3-8e4e-f6935c73f838",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const propertyName = \"Equipe\";\n\nconst seen = new Map();\n\nfor (const item of $input.all()) {\n  const people = item.json.properties?.[propertyName]?.people || [];\n\n  for (const p of people) {\n    if (p.type !== \"person\") continue;\n    if (seen.has(p.id)) continue;\n\n    seen.set(p.id, {\n      id: p.id,\n      name: p.name,\n    });\n  }\n}\n\nreturn Array.from(seen.values()).map(json => ({ json }));;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -64
      ],
      "id": "33199ecc-1d1f-4b80-b9bc-f47c4808fc65",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "fc911b22-e6f5-49bd-af66-fc23b48dbbbf",
          "mode": "list",
          "cachedResultName": "Master Data (Project) -",
          "cachedResultUrl": "https://app.notion.com/p/fc911b22e6f549bdaf66fc23b48dbbbf"
        },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -352,
        -64
      ],
      "id": "258e41d7-7414-475a-8382-aa25f3f2a651",
      "name": "Get a database page",
      "credentials": {
        "notionApi": {
          "id": "KiYrwiSIQVffZvho",
          "name": "Notion account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        -64
      ],
      "id": "20fb61ed-e263-4857-a9d1-008564970226",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nIxYvjqCsNB6atiZ",
          "mode": "list",
          "cachedResultName": "Equipe",
          "cachedResultUrl": "/projects/arE7nkATuDeUBPuz/datatables/nIxYvjqCsNB6atiZ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "nom",
              "keyValue": "={{ $json.name }}"
            },
            {
              "keyName": "id_notion",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        576,
        192
      ],
      "id": "0c74db21-1292-4937-9716-bdee9a84a131",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5a05373-0f07-4612-b7af-708591b5e9f3",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        192
      ],
      "id": "7bb0d9aa-d17f-4aa8-9a80-418a0b432964",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "nIxYvjqCsNB6atiZ",
          "mode": "list",
          "cachedResultName": "Equipe",
          "cachedResultUrl": "/projects/arE7nkATuDeUBPuz/datatables/nIxYvjqCsNB6atiZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nom": "={{ $('Loop Over Items').item.json.name }}",
            "id_notion": "={{ $('Loop Over Items').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nom",
              "displayName": "nom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id_notion",
              "displayName": "id_notion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1008,
        240
      ],
      "id": "bb2b1650-0a83-49cf-a007-52439bd793f5",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a database page": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7bcef9ac-7075-42c1-abbb-e1fa10a62737",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f46f5ebc6334fbb1b70f525a5e6a924e44508c49a0f8753a49481cca7ca569a3"
  },
  "id": "AE8Vcz3byU1SMOk1",
  "tags": []
}